<ion-header>
  <ion-toolbar>
    <ion-title>Best Friends</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
<ion-content>
  <div class="container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <h1>LOGIN</h1>
      <span *ngIf="error" class="auth-error">Incorrect Email or Password?</span>
      <ion-item fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required email name="email" placeholder="Enter Email" ngModel></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required minlength="6" name="password" placeholder="Enter Password"
          ngModel></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!form.valid" expand="block" color="success">login</ion-button>
      <div class="other-link">
        <div>
          <a [routerLink]="['/auth/register']">New User?</a>
        </div>
        <div>
          <a [routerLink]="['/auth/forgotten-password']">Forgotten Password</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<footer style="text-align: center;">
  <p>
    OMPRAKASH SINGH PRODUCTION
  </p>
</footer>