<ion-header>
  <ion-toolbar>
    <ion-title>Best Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form #form="ngForm">
      <h1>
        Forgotten password
      </h1>
      <ion-item fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required email name="email" placeholder="Enter Email" ngModel></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="!form.valid" expand="block" color="success">login</ion-button>
      <a style="float: left; margin-top: 10px; text-decoration: none;" [routerLink]="['/auth/login']">Login User?</a>
    </form>
  </div>
</ion-content>

<footer style="text-align: center;">
  <p>
    OMPRAKASH SINGH PRODUCTION
  </p>
</footer>