ion-content {
     padding: auto;

     .user-image {
          width: 100px;
          height: 100px;
          border-radius: 100%;
     }

     .user {
          text-align: center;
          width: 100%;
          display: flex;
          justify-content: space-around;

          ion-card {
               width: 300px;
          }
     }

     .post {
          display: flex;
          justify-content: space-around;
     }
}

ion-card-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100%;
}